{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/auth_check.js') }}"></script>
<div class="reason-for-visit">
    <h1>What's the reason for you visit today?</h1>
    
    <div class="input-options">
        <a href="{{ url_for('voice_input') }}" class="input-option">
            <div class="option-icon mic-icon"></div>
            <p>Press to Speak</p>
        </a>
        
        <a href="{{ url_for('text_input') }}" class="input-option">
            <div class="option-icon keyboard-icon"></div>
            <p>Press to Type</p>
        </a>
    </div>
</div>
{% endblock %}